server:
    port: 1001
## Dubbo 服务提供者配置
spring:
    dubbo:
        application:
            name: dubbo_client
        registry:
            address: zookeeper://47.100.240.207:2181
        scan:   com.hasfun.news.recommend.controller


management:
    # 默认Actuator只暴露了health和info端点，在SpringBoot的application.yml配置文件中加入这句话暴露所有端点
    endpoints:
        web:
            exposure:
                include: "*"
    # 代表启用单独的url地址来监控Spring Boot应用，为了安全一般都启用独立的端口来访问后端的监控信息
