server:
  port: 9999

management:
  # 默认Actuator只暴露了health和info端点，在SpringBoot的application.yml配置文件中加入这句话暴露所有端点
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    gateway:
      enabled: true


spring:
  application:
    name: news-recommend-gateway
  cloud:
    consul:
      host: 172.17.0.1
      port: 8500
      discovery:
        instance-id: ${spring.application.name}-ip
        prefer-ip-address: true
        tags: ${spring.application.name}-ip
    gateway:
      routes:
        - id: news-recommend-web
          uri: lb://news-recommend-web
          filters:
            - AddRequestHeader=header, addHeader
            - AddRequestParameter=param, addParam
          predicates:
            - Path=/news/recommend/**

